<h1>ВРокаши</h1>
<p>Ласкаво просимо!</p>
<p><b>ВРокаши</b> - простинька соціальна мережа, котра поможе ушитким руснакам спілкуватися рідною говіркою.</p>


<form class="login">
	<dl>
		<dt>Електронна пошта</dt>
		<dd><input type="text" class="email"></dd>
		<dt>Пароль</dt>
		<dd><input type="password" class="password"></dd>
	</dl>
	<button type="button" id="loginBtn">Увійти</button>
</form>

<h2>Реєстрація</h2>
<form class="signUp">
	<dl>
		<dt>Ім'я</dt>
		<dd><input type="text" class="name-first"></dd>
		<dt>Прізвище</dt>
		<dd><input type="text" class="name-last"></dd>
		<dt>Електронна пошта</dt>
		<dd><input type="text" class="email"></dd>
		<dt>Пароль</dt>
		<dd><input type="password" class="password"></dd>
	</dl>
	<button type="button" id="signUpBtn">Зареєструватися</button>
</form>